<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <style type="text/css">
        .container {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .welcome {
            font-size: 3rem;
            /* text-align: center; */
        }
    </style>
    <div class="container">
        <h1 class="welcome">Welcome to Awesome Framework</h1>
    </div>
</body>
</html>
